
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    font-size: 24px;
    
        }
    .logo {
    margin-left: 5%;
    margin-top: 10px;
          }
    .links {
    margin-right: 5%;
          }

.main {
    display: flex;
    flex-direction: column;
   
}
a {
    color: #E5E7EB;
    text-decoration: none;
}
ul {
    list-style: none;
    display: flex;
    gap: 16px;
}
.banner {
    background-color: #1F2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: row;
    padding: 100px;
    
           }

    .linkeseite {
        display: flex;
        flex-direction: column;
        margin-right: 20%;
            }
    .banner img {
    width: 400px;
    max-height: auto;
            }
button {
    width: 100px;
    height: 50px;
    background-color: #3882F6;
    border-radius: 10%;
    object-fit: cover;
    color:#E5E7EB;
    font-weight: 700;
    border-color: white;
}
#bigtext {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
}
h1 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    margin-top: 20px;
    
}
.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    }
.philo
{
    font-weight: bold;
    margin-left: 50%;
    font-style:normal;
}

footer {
    background: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    }

.linkbilder {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
        }

.linkimg img {
    max-width: auto;
    max-height: 200px;
    border-radius: 20%;
    object-fit: cover;
        }

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;    
}

.call {
background-color: #3882F6;
width: 100%;
color:#E5E7EB;
padding: 50px;
display: flex;
justify-content:space-evenly;
align-items: center;
flex-direction: row;
border-radius: 25px;
}
.calllinks {
    display: flex;
    flex-direction: column;
}